{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "extends": ["airbnb", "plugin:prettier/recommended", "prettier"],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaFeatures": {
      "impliedStrict": true
    },
    "ecmaVersion": 2019,
    "sourceType": "module"
  },
  "plugins": [
    "import",
    "jsx-a11y",
    "prettier",
    "react-hooks",
    "simple-import-sort"
  ],
  "rules": {
    "import/first": "warn",
    "import/newline-after-import": "warn",
    "import/no-duplicates": "warn",
    "import/no-extraneous-dependencies": "off",
    "import/order": "warn",
    "import/extensions": "off",
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "no-shadow": "off",
    "no-template-curly-in-string": "off",
    "no-unused-expressions": "off",
    "prettier/prettier": "warn"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", "md", "mdx", ".ts", ".tsx"]
      }
    }
  }
}
